<html>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<bgsound src="static/music/happybirthday.mp3"></bgsound>
<h3 id="title">恭喜你史敬同学，你得到了一张生日刮刮卡，快去刮开吧</h3>
<div class="box">

<div class="content">
    <img src="static/img/silk_thumb.png">
</div>
<div class="mask"><canvas id="j-cvs"></canvas></div>
</div>
<div id="result"></div>
<div id="btn" style="display:none;text-align:center"><button onclick="document.getElementById('fetch').innerHTML='傻X，找你男朋友啊，哈哈哈'">领取礼物</button></div>
<div id="fetch" style="text-align:center"></div>
<div id="debug"></div>
<link href="static/css/guaguaka.css" rel="stylesheet">
<script src="static/js/guaguaka.js"></script>
</html>